DATABASE_URL=mongodb://mongo:27017/kalabi
PAYLOAD_SECRET=YOUR_SECRET_HERE
NEXT_PUBLIC_SITE_URL=https://kalabimeble.pl
SMTP_USER=kalabimeblenawymiar@gmail.com
SMTP_PASS=YOUR_GMAIL_APP_PASSWORD
188.191.216.33